h1{
    color: #ff0008;
    text-align: center;
    background-color: black;
    line-height: 100px;
    text-shadow: 12px 4px 12px yellow;
    font-size: 50px;
    cursor: alias;
}
h1:hover{
    background-color: aqua;
}
